{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main_website/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'main_website/dropdown-btn.js' %}"></script>

	{% if title %}
		<title>{{ title }}</title>>
	{% else %}
		<title>Exportator Adeverinte</title>
	{% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-orange fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Adeverinte</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profilul meu</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Deconectare</a>
              {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Conecteaza-te</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Creeaza cont</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="sidenav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'adeverinte-home' %}">Acasa</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'home' %}">Acasa</a>
                {% endif %}
                  {% if user.is_authenticated %}
                      <a class="nav-item nav-link" href="{% url 'employees:all' %}">Administrare conturi</a>
                      <a class="nav-item nav-link" href="{% url 'default_tmpl:home' %}">Administrare template</a>
                      <a class="nav-item nav-link" href="{% url 'home' %}">Mesaje useri</a>
                      <a class="nav-item nav-link" href="{% url 'home' %}">Setari Cont</a>
                  {% endif %}
                  <a class="nav-item nav-link" href="{% url 'about' %}">Despre Adeverinte</a>
              </div>
          </div>
        <div class="col-md-6">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}<h1>Continutul lipseste!</h1>{% endblock %}
        </div>
        <div class="col-md-3">
          <div class="content-section sidebar">
            <h3>Statistici</h3>
            {% block statistici %}
              <p class='text-muted'>Statistici la nivel global.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Numa solicitari exportate: XX</li>
                  <li class="list-group-item list-group-item-light">Numar companii inregistrate: XX</li>
                  <li class="list-group-item list-group-item-light">Numar template-uri adeverinte: XX</li>
                </ul>
              </p>
            {% endblock %}
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>